<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
   
   </head>
<body>
 
    <%- include('nav') %>


    <br><br>

    <h1>Create a User</h1>
    <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
         <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>

<!--<form>
    <div class="form">
        <img src="icons.png" alt="Login Icon" />
        <br>
        <h2 style="text-align: center;"><strong>Student login</strong></h2>
        <div>
            
            <input class="center" type="text" placeholder="Username"><br><br>
            <input class="center" type="password" placeholder="Password"><br><br>
            <button class="button"> Login </button><br>
            <p class="forget-password"> <a href>Forget Password</a><br>
           <p><span>Don't have an account?</span><a href>Signup here</a>

        </div>
    </form> -->
    
</body>
</html>