 <nav>
        <h1>Excellent Multicultural School</h1>
        <a href="/">Home</a>
        <a href="/users" >Users</a>
        <a href="register">Signup User</a>
        <!-- <li style="float:right; list-style: none;"><a href="index1.html">About</a></li> -->
    </nav>