

body {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(206, 201, 201);
    /* margin: 100px;
    width: 250px; */
    /* box-shadow: 10px 5px 5px rgb(209, 207, 207); */
    position: relative;
    
    width:100% ;
    
    
}


.form {
    border: 2px solid rgb(209, 206, 206);
    background-color: rgb(198, 191, 191);

    width: 350px;
    height: 500px;
    position: absolute;
    /* align-content: center; */
    padding: 25px 25px;
    left:800px ;
    top: 400px;
    /* left: 00px; */
    /* align-items: center;  */
    /* justify-content: center; */
   
    /* display: flex;  */

}


.button {
    background-color: rgb(12, 12, 169);
    color: white;
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

/* .button:hover {
    background-color: rgb(243, 21, 39);
} */

input::placeholder {
    font-size: 18px;
    font-weight: bold;

}

input:hover {
    background-color: white;
    text-emphasis: none;
}

p {
    font-size: 15px;
    text-align: center;
}


nav {
    padding: 10px;

    background-color: rgb(154, 176, 125);
    cursor: pointer;
    transition-timing-function:ease-in-out ;

}

 
nav a {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #780808;
    padding: 10px;
    transition: ease-in-out;
    text-decoration: none;
}
* Form Container */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
}

/* Form Inputs */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}